node_modules
services/auth-service/node_modules
services/chat-service/node_modules
services/game-service/node_modules
services/ai-service/node_modules
/test-frontend
services/auth-service/dist
Shared_dataBase/node_modules
dist
npm-debug.log
.git
.gitignore
README.md
.nyc_output
coverage
.docker
.DS_Store
*.log
.vscode
.env
.idea
