services:
  auth-service:
    build:
      context: .
      dockerfile: services/auth-service/Dockerfile
    container_name: ft_transcendence_auth
    working_dir: /app/services/auth-service
    ports:
     - "${AUTH_SERVICE_PORT:-3010}:3010"
    env_file:
      - .env
    volumes:
      - ./database:/app/database:rw
      - ./services/auth-service/avatar:/app/avatar:rw
    networks:
      - transcendence-network
    restart: unless-stopped

  chat-service:
    build:
      context: .
      dockerfile: services/chat-service/Dockerfile
    container_name: ft_transcendence_chat
    ports:
      - "${CHAT_SERVICE_PORT:-3011}:3011"
    env_file:
      - .env
    volumes:
      - ./database:/app/database:rw
    networks:
      - transcendence-network
    depends_on:
      - auth-service
    restart: unless-stopped

  game-service:
    build:
      context: .
      dockerfile: services/game-service/Dockerfile
    container_name: ft_transcendence_game
    ports:
      - "${GAME_SERVICE_PORT:-3012}:3012"
    env_file:
      - .env
    volumes:
      - ./services/game-service:/app/services/game-service:rw
      - /app/services/game-service/node_modules
      - ./Shared_dataBase:/app/Shared_dataBase:rw
      - /app/Shared_dataBase/node_modules
    networks:
      - transcendence-network
    depends_on:
      - auth-service
      - ai-service
    restart: unless-stopped

  ai-service:
    build:
      context: .
      dockerfile: services/ai-service/Dockerfile
    container_name: ft_transcendence_ai
    ports:
      - "${AI_SERVICE_PORT:-3013}:3013"
    env_file:
      - .env
    volumes:
      - ./database:/app/database:rw
    networks:
      - transcendence-network
    restart: unless-stopped

  frontend-service:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    container_name: ft_transcendence_frontend
    ports:
      - "0.0.0.0:8080:443"
    env_file:
      - .env
    volumes:
      - ./frontend/certs:/etc/nginx/certs
    networks:
      - transcendence-network
    depends_on:
      - auth-service
      - chat-service
      - game-service
      - ai-service
    restart: unless-stopped


networks:
  transcendence-network:
    driver: bridge

volumes:
  database-data:
    driver: local
